<div class="container">
    <h2>Control Flow</h2>

    <h3>IF</h3>
    <div class="if-control-flow">
        <div class="forma-nova">
            <h3>Forma Nova</h3>
            @if(isTrue) {<p>É verdadeiro</p>} @else {<p>É falso</p>}
        </div>

        <div class="forma-antiga">
            <h3>Forma Antiga</h3>

            <ng-container *ngIf="isTrue; else falseContent">
                <p>É verdadeiro</p>
            </ng-container>
            <ng-template #falseContent>
                <p>É falso</p>
            </ng-template>
        </div>
    </div>

    <h3>FOR</h3>
    <div class="for-control-flow">
        <div class="forma-nova">
            <ul>
                @for (curso of cursos; track curso) {
                    <li>{{curso}}</li>
                }
            </ul>
        </div>
        <div class="forma-antiga">
            <ul>
                <li *ngFor="let curso of cursos">
                    {{ curso }}
                </li>
            </ul>
        </div>
    </div>
    <div class="for-control-flow-values">
        <ul>
            @for(curso of cursos; track curso;
                let i = $index;
                let c = $count;
                let f = $first;
                let l = $last;
                let e = $even;
                let o = $odd;
            ) {
                <p>{{ i }}</p>
                <p>{{ c }}</p>
                <p>{{ f }}</p>
                <p>{{ l }}</p>
                <p>{{ e }}</p>
                <p>{{ o }}</p>
                <br>
            }
        </ul>
    </div>

    <div class="for-empty">
        <h3>For empty</h3>
        <!--Forma Nova-->
        <ul>
            @for (curso of cursos; track curso) {
                <li>{{curso}}</li>
            } @empty {
                <li>Sem cursos disponiveis.</li>
            }
        </ul>
        <!--Forma Antiga-->
        <ng-container *ngIf="cursos.length > 0; else semCursos">
            <ul>
                <li *ngFor="let curso of cursos">
                    {{curso}}
                </li>
            </ul>
        </ng-container>
        <ng-template #semCursos>
            <ul>
                <li>Sem cursos disponiveis</li>
            </ul>
        </ng-template>
    </div>

    <div class="switch-case">
        <h3>Switch case</h3>
        <!--Forma Nova-->
        @switch (switchCondition) {
            @case ('A') {
                <p>É a letra A</p>
            }
            @case ('B') {
                <p>É a letra B</p>
            }
            @default {
                <p>Não é a letra que você está procurando</p>
            }
        }
        <!--Forma Antiga-->
        <ng-container [ngSwitch]="switchCondition">

            <ng-container *ngSwitchCase="'A'">
                <p>É a letra A</p>
            </ng-container>
            <ng-container *ngSwitchCase="'B'">
                <p>É a letra B</p>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <p>Não é a letra que você está procurando</p>
            </ng-container>

        </ng-container>
    </div>

</div>
