<div class="container">
    <h2>Pipes</h2>
    <ul>
        <li>date pipe: {{date() | date: 'dd/MM/yyyy'}}</li>
        <li>upperCase pipe: {{ 'aglis bernardino' | uppercase}}</li>
        <li>lowerCase pipe: {{ 'aglis bernardino' | lowercase}}</li>
        <li>json pipe: {{ json | json }}</li>
        <li>currency pipe: {{ 30.30 | currency: 'BRL' }}</li>
        <li>number pipe: {{ 102.70 | number: '1.0-2' }}</li>
        <li>percent pipe: {{ 0.45 | percent: '1.0-2'}}</li>
        <li>custom pipe: {{ 'Meu nome é Aglis' | stringPipe: 'upper'}}</li>


    </ul>
</div>
