.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px ridge red;
    padding: 2rem 0;
    margin: 0 0 2rem 0;
    gap: 3rem;

    .text-interpolation {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border: 1px solid black;
        padding: 0 1rem;
    }

    .property-binding {
        padding: 0 1rem;
        border: 1px solid black;
    }

    .attribute-binding {
        padding: 0 1rem;
        border: 1px solid black;
    }

    .class-and-style-binding {
        padding: 0 1rem;
        border: 1px solid black;

        .color-red {
            color: red;
        }
        .color-blue {
            color: blue;
        }
    }

    .event-binding {
        padding: 0 1rem;
        border: 1px solid black;
    }

    .diretivas-de-atributo {
        padding: 0 1rem;
        border: 1px solid black;

        .background-red {
            background-color: red;
        }

        .background-blue {
            background-color: blue;
        }

    }
}
